# Ignore node_modules directory
.idea/
.vscode/
.venv/
.env/
data/
feature-extract/.vscode
feature-extract/node_modules/
feature-extract/out
feature-extract/dist/


MalnpmDB/
app.log
createDatasets/MalinBenPac